.grid-container {
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-columns: auto auto;
}

.grid-item {
    display: inline-grid;
    text-align: center;
    justify-content: center;
}
h2 {
    padding-bottom: 20px;
}